<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">R Workshop</h1>
					<button style="display: inline-block; float: right" onclick="popup('copy-of-data-analytics-workshop-314414');" class="tsbutton">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript>
					<script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
					<br>
					Without data, you’re just another person with an opinion <br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Edward Deming <br><br>
					<p>
						This event caters the needs of all those who find data interesting, amusing and excel in telling stories using data and can show the world the power of data!
						Data is now a very crucial part of any business and research and most of them heavily depends upon finding patterns in data.
						This event will aim on making people aware of finding and predicting searching results using data and hence helping various business excelling in real life problems given to them.
					</p>
					<h2 class="heading-format">Format:</h2>
					<ul>
						<li>Participants will be given data in form of .csv format.</li>
						<li>Allowed platforms for coding are R (using R studio), Python (using Spyder or Jupyter Notebook) and Excel.</li>
						<li>Competition will be hosted online through Kaggle.</li>
						<li>Participated are supposed to do exploratory analysis on code.</li>
						<li>Task will be divided into Data Pre-processing, Data Training, Data Prediction</li>
						<li>Participants are allowed to submit their entry for maximum of 10 times max.</li>
						<li>Participants overall improvement of accuracy along with final accuracy, complexity of model used.</li>
						<li>Participants must code the model in front of supervision of events team members.</li>
						<li>They are allowed to use internet for help with syntax of code. However, plagiarism of any form if found will lead to direct disqualification of team.</li>
						<li>Final submission will be taken in form of .csv file where participants have to submit their predictions of respective id(s) and detailed explanation of approached used by them</li>
					</ul>
					<h3>Fee :</h3>
					<p>NIL</p>
					<h3>Venue :</h3>
					<p>Octagon Lab</p>
					<h3>Prize Money :</h3>
					<p>7500 total</p>
					<h3>Judging Criteria:</h3>
					<ul>
						<li>Accuracy</li>
						<li>Percentage improvement in accuracy</li>
						<li>Improvement and simplicity of code</li>
						<li>Knowledge of statistical operations</li>
						<li>Data Modelling</li>
						<li>Familiarity with different methods to improve accuracy Rules: -</li>
						<li>Team size are not fixed but must not exceed 3.</li>
						<li>Each team member must present a minimum of 1 slide in front of judges</li>
						<li>People from different colleges are not allowed to make teams.</li>
						<li>They are not allowed to resource other than those provide by event organizers.</li>
						<li>Any sort of plagiarism if found will lead to direct disqualification.</li>
						<li>In case of any dispute, the decision taken by event organizer shall be final and abiding.</li>
						<li>The code file by participants should also be submitted by participants which will separately ran by events team member to ensure removal of any malpractices.</li>
					</ul>
					<p>Registrations will be confirmed only after payment, on first come first serve basis </p>
						<h2>
							<a href="/">Back</a>
				</div>
			</section>
		</div>
</body>

</html>
