<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">Case Study</h1><button style="display: inline-block; float: right" class="tsbutton"><a href="https://goo.gl/forms/2WeLxeidlbCAnz4c2">Register Now</a></button><br>
					<p>
						From APPLE, IBM, Marvel, TESLA to LEGO all have one thing in common: they went to the extent of losing whatever they had & then made a huge comeback.  <br>

						Learn from the biggest mistakes that these & other large companies made by competing in Case study challenge. <br>
						Work as an individual or in teams of 2-4 to solve tricky challenges.<br>
					</p>

					<h3>Total Prize Money :</h3>
					<p>₹3000</p><br>
					<h3>Registration Fee :</h3>
					<p>NIL</p><br>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<h3>Type :</h3>
					<p>Individual / Team Event (Teams of 2-4 are allowed)</p>
					<h3>Event Rules :</h3>
					<p> 1. Presentation time limit- 6 min
					<br>2. Plagiarism of any form is not allowed
					<br>3. The ppt should be made on the spot
					<br>4. Maximum of 4 people in a team
					<br>5. Each person needs to present atleast one slide
					<br>6. Use of any resources other than those provided by organisers is not allowed </p>
					<h3>Judging Criteria :</h3>
					<p>Feasibility, Creativity, Time Duration, Presentation skills & responses to judges' Cross-Questioning <br>
					Registrations will be confirmed only after payment, on first come first serve basis </p>
					<br>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
