<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">Design Challenge</h1>
					<button style="display: inline-block; float: right" class="tsbutton"><a href="https://goo.gl/forms/TZpx2V5d9Hm5wTnI2">Register Now</a></button><br>
					Every great design begins with an even better story <br>
					 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Lorinda Mamo <br><br>

					<p>Behind every product, there is a great deal of thought process and work. Do you think you can stretch your caliber to the required dimensions and make designs of product that work? If you answered that question with an ‘yes’, this is your piece of cake. <br>
					Explore the world of design, by using your creativity to design a product given in the first round with the aid of a 3D design software and climb your way up the ladder to the final round, where your ability to think on spot is tested along with your creativity. Because, what if this could be your 'better story’? <br>
				 </p>
					<h3>Fee :</h3>
					<p>NIL</p><br>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<br>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
