<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">Design Challenge</h1><button style="display: inline-block; float: right" class="tsbutton">Register Now</button><br>
					<p>Do camshafts and clutches get your gears running? Are you someone who stops to admire the elegantly shaped body of a motorcycle and the engine that drives it? It’s time for you to learn the engineering behind an engine and there is no better
						place
						to start than Prodigy.</p>
					<p>
						Top Engineers in association with Prodigy will be conducting a workshop on automobiles that will take you from the fundamentals, through the exciting architecture, to the latest technology in the realm of automobiles. With practical hands-on
						experience
						from the experts themselves, this workshop will take you through the hearts of engines from leading manufacturers like Bajaj, Suzuki, Kawasaki and more.
					</p>
					<h2 class="heading-format">Course Content:</h2>
					<ul>
						<li>Introduction to automobiles</li>
						<li>Basic fundamentals of the IC Engine</li>
						<li>Principles of 2 and 4 stroke engines</li>
						<li>Engine Dismantling and Assembling</li>
						<li>Latest technologies in Automobiles</li>
						<li>Placement assistance</li>
					</ul>
					<h3>Fee :</h3>
					<p>Rs.600/Individual</p><br>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<div>
						<p>Batch 1 - 24th March 2018 <br> Batch 2 - 25th March 2018<br></p>
					</div><br>
					<h3>Organiser :</h3>
					<p>Top Engineers</p>
					<p>Registrations will be confirmed only after payment, on first come first serve basis </p>
					<br>
					<h3>FAQ:</h3>
					<p>
						1. Does the workshop have any prerequisites?<br> There are no prerequisites for the workshop. Any student interested in mechanical, automobile, and related fields of engineering can attend the workshop.</p>
					<p>
						2. How should the payment be made for the workshop?<br> Payment can be made online via SBI I Collect. Payment guidelines will be sent to the participant’s email address once registered.</p>
					<p>
						3. On what basis are workshop registrations confirmed?<br> Registrations are confirmed after payment, on a first come first serve basis. Confirmation of your participation is subject to availability. A confirmation email will be sent after the payment
					is received
				</p>
					<p>
						4. Will the fees paid for the workshop be refunded in case I fail to attend the workshop?<br> Fees once paid, is strictly non-refundable. Requests for refund will not be encouraged.
				</p>
					<p>
						5. Will certificates be provided?<br> Yes. A certificate from Prodigy, the National Technical Symposium of NIT, Trichy will be provided after the completion of the workshop.
				</p>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
