<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">Machining Challenge</h1><button style="display: inline-block; float: right" class="tsbutton">Register Now</button><br>
					<p>
						BEEP-BEEP……BEEP-BEEP! <br>
						Oh! 9 AM alarm. don’t want to wake up!!! Just gave up your sleep for 9:30 Machining lab? <br>

						Don’t Fret it!!! <br>
						Your sacrifice won’t go in vain as Prodigy’18 lets you compete in one of a kind 'Machining Challenge'. This event will give you chance to fabricate the prototype of the design given to you using Lathe machines and other various basic operations <br>

						The winner will be decided on the basis of Dimensional accuracy, surface finish and (if required) percent of the prototype finished

						It’s Time!!! Pull up your socks and fulfil your thirst of showcasing your machining skills. Create the most accurate prototype of the given design with an excellent surface finish within 3 Hrs and take back prizes worth ₹7500 <br>

					</p>
					<h2 class="heading-format">Course Content:</h2>
					<ul>
						<li>Introduction to automobiles</li>
						<li>Basic fundamentals of the IC Engine</li>
						<li>Principles of 2 and 4 stroke engines</li>
						<li>Engine Dismantling and Assembling</li>
						<li>Latest technologies in Automobiles</li>
						<li>Placement assistance</li>
					</ul>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<br>
					<h3>FAQ:</h3>
					<p>
						1. Does the workshop have any prerequisites?<br> There are no prerequisites for the workshop. Any student interested in mechanical, automobile, and related fields of engineering can attend the workshop.</p>
					<p>
						2. How should the payment be made for the workshop?<br> Payment can be made online via SBI I Collect. Payment guidelines will be sent to the participant’s email address once registered.</p>
					<p>
						3. On what basis are workshop registrations confirmed?<br> Registrations are confirmed after payment, on a first come first serve basis. Confirmation of your participation is subject to availability. A confirmation email will be sent after the payment
					is received
				</p>
					<p>
						4. Will the fees paid for the workshop be refunded in case I fail to attend the workshop?<br> Fees once paid, is strictly non-refundable. Requests for refund will not be encouraged.
				</p>
					<p>
						5. Will certificates be provided?<br> Yes. A certificate from Prodigy, the National Technical Symposium of NIT, Trichy will be provided after the completion of the workshop.
				</p>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
