<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">R Workshop</h1>
					<button style="display: inline-block; float: right" onclick="popup('data-analytics-workshop-314414');" class="tsbutton">Register Now (Day 2)</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
					<button style="display: inline-block; float: right" onclick="popup('copy-of-data-analytics-workshop-314414');" class="tsbutton">Register Now (Day 1)</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
					<br>
					Without data, you’re just another person with an opinion <br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Edward Deming <br><br>
					<p>Has statistics startled you? <br>
					Has probability puzzled you? <br>
					With growing population and connectivity, data science has gathered a huge impact on our everyday lives. <br>
					Would you want to take a deep dive into the ocean of data? <br>
					Arm yourselves with R language to tackle everything that comes your way! <br>
					This one day workshop will help you with the basics of data science using R and as they say, ’ A good beginning is half don <br>
				</p>
					<h3>Fee :</h3>
					<p>Rs.100/Individual</p>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<div>
						<p>Batch 1 - 13th October 2018 <br> Batch 2 - 14th October 2018<br></p>
					</div>
					<p>Registrations will be confirmed only after payment, on first come first serve basis </p>
					<h3>FAQ:</h3>
					<p>
						<b> 1. Does the workshop have any prerequisites?</b><br>
						There are no prerequisites for the workshop. Any student interested in mechanical, automobile, and related fields of engineering can attend the workshop.</p>
					<p>
					<p>
						<b> 2. On what basis are workshop registrations confirmed?</b><br>
						Registrations are confirmed after payment, on a first come first serve basis. Confirmation of your participation is subject to availability. A confirmation email will be sent after the payment is received
					</p>
					<p>
						<b> 3. Will fees paid for a workshop be refunded in case I fail to attend the workshop?</b><br>
						Fees once paid, is strictly non-refundable. Requests for refund will not be encouraged.
				</p>
					<p>
						<b>4. Will certificates be provided?</b><br>
						Yes. A certificate from Prodigy, the National Technical Symposium of NIT, Trichy will be provided after the completion of the workshop.
				</p>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
