<html>

<head>
	<title>Prodigy 2018</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/events-page.css">
	<style>
		p,
		ul {
			color: #CACACA !important;
			font-size: 15px;
		}
		a:hover {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="page-wrap">
		<div id="wrapper">
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major" style="display: inline-block">Water Rocket</h1><button style="display: inline-block; float: right" class="tsbutton"><a href="https://goo.gl/forms/19uhrZ20UMH0Y9o32">Register Now</a></button><br>
					<p>Build your own Water Rocket, compete with others and win exciting cash prizes!</p>
					<h3>Fee :</h3>
					<p>NIL</p>
					<h3>Duration :</h3>
					<p>1 day, 9AM to 5PM </p>
					<h3>Judging Criteria :</h3>
					<ul>
						<li>Creativity</li>
						<li>Aeromodelling and Fabrication</li>
						<li>Analytical skills</li>
						<li>Rapid problem solving skills</li>
						<li>Knowledge on fluid dynamics</li>
					</ul>
					<h3> Event Format: </h3>
					<p>The event consists of two rounds</p>
					<ul>
						<li>
							First round: Time of flight test <br><br>
							Here the time of flight is tested. A minimum distance between the launch pad and the point of landing is fixed and time taken to reach the destination is measured. Based on this, participants will be qualified into the next round according to minimum time.<br><br>
						</li>
						<li>
							Second round: Accuracy <br><br>
							This round tests the stability of rocket. There will be three circular regions in the arena Two chances will be provided for launching the rocket <br>
							The points will be allotted as follows
							<ul>
								<li>Within 10 meters: 50 points</li>
								<li>Within 30 meters: 25 points</li>
								<li>Within 50 meters: 15 points</li>
							</ul>
						</li>
					</ul>
					<h3>Rules of Event :</h3>
					<ul>
						<li>Maximum of 3 participants. </li>
						<li>Participants need not be from the same college.</li>
						<li>The rocket and its components must be handmade and no readymade rocket is allowed.</li>
						<li>The rocket body should be made only with plastic bottles of aerated soft drinks of maximum capacity 2.5L and should be free of any fabrication failures or dents caused by heat exposure. </li>
						<li>More than one bottle can be used but the total volume must be less than 2.</li>
						<li>The water rocket must use only compressed atmospheric air as its source of energy. </li>
						<li>Pressure compressors (foot pump) shall be provided at the venue. </li>
						<li>The pressure inside the container (rocket body) before launch should not exceed 60 psi for the first two rounds. </li>
						<li>Water to be filled in the rockets will be provided by the organizers. </li>
						<li>The amount of water to be used is left to the choice of the team. </li>
						<li>Each team must have their own launchers.</li>
						<li>The rocket must be launched from a stationary position using a fixed launcher. </li>
						<li>Slingshots, trebuchets, catapults, cannons, and all other forms of launcher boost assists are strictly forbidden. In other words, the internal pressure of the rocket must be the only source of energy for the rocket.</li>
						<li>Water rockets can have multiple stages. Parachute, gliding and other mechanical launch mechanisms are allowed. Booster mechanisms are allowed as well.</li>
						<li>Use of electronic components and chemical explosives are banned.</li>
						<li>Teams are advised to get more than one water rocket, in case of any damage to one. But the water rockets must be identical.</li>
						<li>Water rockets for different rounds could be different, but for the same round, they must use the same water rocket.</li>
						<li>Three trials will be given and best two will be taken into consideration.</li>
						<li>The team will be disqualified / given another chance to remodel if the model is found to be dangerous in anyway. Decision of the organisers is final.</li>
					</ul>
					<h3>Judging Criteria :</h3>
					<ul>
						<li>The final judgement is based on the total points scored by the participated team in all the three rounds described above.</li>
						<li>The points are also given to the teams based on their creativity and simplicity in making the water propelled rockets, this will be decided at the time of the event by the event manager by viewing their rocket samples.</li>
						<li>The total points scored in all the three rounds are added up and awarded as their final score.</li>
						<li>Decision of the organizers is final.</li>
					</ul>
					<br>
					<h2>
						<a href="/">Back</a>
			</div>
		</section>
	</div>
</body>

</html>
